.select-tag {
  cursor: pointer;
  color: var(--van-nav-text-secondary);
  border: 1px solid var(--van-nav-border);
  transition: all 0.3s;
  box-sizing: border-box;
}
.select-tag:hover {
  border: 1px solid var(--van-nav-primary);
  color: var(--van-nav-primary);
}
.select-tag-active {
  color: #ffffff;
  background-color: var(--van-nav-primary);
  border: 1px solid var(--van-nav-primary);
}
.tag-selector {
  width: 100%;
}
